{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Category: {{ category }} </h2>
    <ul>
        {% for listing in listings %}
            
            <h5><a href="{% url 'listing' listing.title %}?id={{ listing.id }}">{{ listing.title }}</a></h5>
            <p>Current price: ${{ listing.start_bid }}</p>
            <p> {{ listing.date_time }} </p>

            {% if listing.url == None %}
            {% else %}
                <a href="{% url 'listing' listing.title %}?id={{ listing.id }}">
                    <img src="{{ listing.url }}" alt="{{ listing.title }}">
                </a>
            {% endif %}    
        <!--
        <li><a href="listings/{{ listing }}">{{ listing }}</a></li>
        -->
        {% endfor %}
    </ul>

{% endblock %}