{% extends "auctions/layout.html" %}

{% block title %}Watchlist{% endblock %}

{% block body %}

    <h2>Your Watchlist:</h2>
    <ul>
        {% for listing, bid in zipped_list %}
        <li>
            <h5><a href="{% url 'listing' listing.title %}?id={{ listing.id }}">{{ listing.title }}</a></h5>
            <p>Current price: ${{bid}}</p>
            <p> {{ listing.date_time }} </p>

            {% if listing.url == None %}
            {% else %}
                <a href="{% url 'listing' listing.title %}?id={{ listing.id }}">
                    <img src="{{ listing.url }}" alt="{{ listing.title }}">
                </a>
            {% endif %}     

        </li>
        {% empty %} 
            <p>Your watchlist is empty...</p>
        {% endfor %}
    </ul>


{% endblock %}